In [1]:
import pandas as pd
import numpy as nm

In [2]:
dataset=pd.read_csv("placement.csv")
dataset

,sl_no,gender,ssc_p,ssc_b,hsc_p,hsc_b,hsc_s,degree_p,degree_t,workex,etest_p,specialisation,mba_p,status,salary
0,1,M,67.00,Others,91.00,Others,Commerce,58.00,Sci&Tech,No,55.0,Mkt&HR,58.80,Placed,270000.0
1,2,M,79.33,Central,78.33,Others,Science,77.48,Sci&Tech,Yes,86.5,Mkt&Fin,66.28,Placed,200000.0
2,3,M,65.00,Central,68.00,Central,Arts,64.00,Comm&Mgmt,No,75.0,Mkt&Fin,57.80,Placed,250000.0
3,4,M,56.00,Central,52.00,Central,Science,52.00,Sci&Tech,No,66.0,Mkt&HR,59.43,Not Placed,NaN
4,5,M,85.80,Central,73.60,Central,Commerce,73.30,Comm&Mgmt,No,96.8,Mkt&Fin,55.50,Placed,425000.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
210,211,M,80.60,Others,82.00,Others,Commerce,77.60,Comm&Mgmt,No,91.0,Mkt&Fin,74.49,Placed,400000.0
211,212,M,58.00,Others,60.00,Others,Science,72.00,Sci&Tech,No,74.0,Mkt&Fin,53.62,Placed,275000.0
212,213,M,67.00,Others,67.00,Others,Commerce,73.00,Comm&Mgmt,Yes,59.0,Mkt&Fin,69.72,Placed,295000.0
213,214,F,74.00,Others,66.00,Others,Commerce,58.00,Comm&Mgmt,No,70.0,Mkt&HR,60.23,Placed,204000.0
214,215,M,62.00,Central,58.00,Others,Science,53.00,Comm&Mgmt,No,89.0,Mkt&HR,60.22,Not Placed,NaN

DATA PREPROCESSING

In [3]:
dataset.isna().sum()

sl_no              0
gender             0
ssc_p              0
ssc_b              0
hsc_p              0
hsc_b              0
hsc_s              0
degree_p           0
degree_t           0
workex             0
etest_p            0
specialisation     0
mba_p              0
status             0
salary            67
dtype: int64

In [4]:
#dataset["salary"].fillna(0 ,inplace=True)
dataset.fillna({"salary": 0}, inplace=True)

In [5]:
#splitting categorial and numerical datatype columns
def quanQual(dataset):
    quan=[]
    qual=[]
    for columname in dataset.columns:
        if (dataset[columname].dtype=='O'):
            qual.append(columname)
        else:
            quan.append(columname)
    return quan,qual

In [11]:
quan,qual=quanQual(dataset)
#quan
#qual

In [12]:
quan

['sl_no', 'ssc_p', 'hsc_p', 'degree_p', 'etest_p', 'mba_p', 'salary']

CENTRAL TENDENCY

In [13]:
#finding central tendency values for the dataset and store it in new table as descriptive
descriptive = pd.DataFrame(index=["Mean", "Median", "Mode"], columns=quan)

for columnName in quan:
    descriptive.loc["Mean", columnName] = dataset[columnName].mean()
    descriptive.loc["Median", columnName] = dataset[columnName].median()
    descriptive.loc["Mode", columnName] = dataset[columnName].mode()[0]

In [14]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,198702.325581
Median,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,0.0

MEASURE OF LOCATION OF DATA

PERCENTILE

In [15]:
#finding percentile for q1,q2,q3,q4 
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                               "Q3:75%","99%","Q4:100%"],columns=quan)
for columnName in quan:
    descriptive.loc["Mean", columnName] = dataset[columnName].mean()
    descriptive.loc["Median", columnName] = dataset[columnName].median()
    descriptive.loc["Mode", columnName] = dataset[columnName].mode()[0]
    descriptive.loc["Q1:25%", columnName] = dataset.describe()[columnName]["25%"]
    descriptive.loc["Q2:50%", columnName] = dataset.describe()[columnName]["50%"]
    descriptive.loc["Q3:75%", columnName] = dataset.describe()[columnName]["75%"]
    descriptive.loc["99%", columnName] = nm.percentile(dataset[columnName],99)
    descriptive.loc["Q4:100%", columnName] = dataset.describe()[columnName]["max"]

In [16]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,198702.325581
Median,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,0.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,0.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,282500.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,629000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0

IQR

In [17]:
#finding IQR by its formula
descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                               "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
for columnName in quan:
    descriptive.loc["Mean", columnName] = dataset[columnName].mean()
    descriptive.loc["Median", columnName] = dataset[columnName].median()
    descriptive.loc["Mode", columnName] = dataset[columnName].mode()[0]
    descriptive.loc["Q1:25%", columnName] = dataset.describe()[columnName]["25%"]
    descriptive.loc["Q2:50%", columnName] = dataset.describe()[columnName]["50%"]
    descriptive.loc["Q3:75%", columnName] = dataset.describe()[columnName]["75%"]
    descriptive.loc["99%", columnName] = nm.percentile(dataset[columnName],99)
    descriptive.loc["Q4:100%", columnName] = dataset.describe()[columnName]["max"]
    descriptive.loc["IQR", columnName] = descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
    descriptive.loc["1.5rule", columnName] = 1.5*descriptive[columnName]["IQR"]
    descriptive.loc["Lesser", columnName] = descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
    descriptive.loc["Greater", columnName] =descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
    descriptive.loc["Min", columnName] = dataset[columnName].min()
    descriptive.loc["Max", columnName] = dataset[columnName].max()

In [18]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.333163,66.370186,72.100558,62.278186,198702.325581
Median,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,0.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,0.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,282500.0
99%,212.86,87.0,91.86,83.86,97.0,76.1142,629000.0
Q4:100%,215.0,89.4,97.7,91.0,98.0,77.89,940000.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,282500.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,423750.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,-423750.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,706250.0
Min,1,40.89,37.0,50.0,50.0,51.21,0.0
Max,215,89.4,97.7,91.0,98.0,77.89,940000.0

FINDING OUTLIER COLUMN

In [19]:
#checking whether any column data lies under or above lesser,greater values
lesser=[]
greater=[]

for columnName in quan:
    if(descriptive[columnName]["Min"]<descriptive[columnName]["Lesser"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Max"]>descriptive[columnName]["Greater"]):
        greater.append(columnName)

In [20]:
lesser

['hsc_p']

In [21]:
greater

['hsc_p', 'degree_p', 'salary']

REPLACING OUTLIER COLUMN

In [22]:
#replacing outlier with its respective lesser and greater values
for column in lesser:
    dataset.loc[dataset[column]<descriptive.loc["Lesser", column],column]=descriptive.loc["Lesser",column]
for column in greater:
    dataset.loc[dataset[column]>descriptive.loc["Greater",column],column]=descriptive.loc["Greater",column]

In [23]:
#function created for overall stats
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                                "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max"],columns=quan)
    for columnName in quan:
        descriptive.loc["Mean", columnName] = dataset[columnName].mean()
        descriptive.loc["Median", columnName] = dataset[columnName].median()
        descriptive.loc["Mode", columnName] = dataset[columnName].mode()[0]
        descriptive.loc["Q1:25%", columnName] = dataset.describe()[columnName]["25%"]
        descriptive.loc["Q2:50%", columnName] = dataset.describe()[columnName]["50%"]
        descriptive.loc["Q3:75%", columnName] = dataset.describe()[columnName]["75%"]
        descriptive.loc["99%", columnName] = nm.percentile(dataset[columnName],99)
        descriptive.loc["Q4:100%", columnName] = dataset.describe()[columnName]["max"]
        descriptive.loc["IQR", columnName] = descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive.loc["1.5rule", columnName] = 1.5*descriptive[columnName]["IQR"]
        descriptive.loc["Lesser", columnName] = descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive.loc["Greater", columnName] =descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive.loc["Min", columnName] = dataset[columnName].min()
        descriptive.loc["Max", columnName] = dataset[columnName].max()
    return descriptive

In [26]:
descriptive=Univariate(dataset,quan)

In [27]:
descriptive

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,197615.116279
Median,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,0.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,0.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,282500.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,629000.0
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,706250.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,282500.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,423750.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,-423750.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,706250.0
Min,1,40.89,42.75,50.0,50.0,51.21,0.0
Max,215,89.4,91.15,88.5,98.0,77.89,706250.0

In [28]:
#Again cross check the dataset
lesser=[]
greater=[]

for columnName in quan:
    if(descriptive[columnName]["Lesser"]>descriptive[columnName]["Min"]):
        lesser.append(columnName)
    if(descriptive[columnName]["Greater"]<descriptive[columnName]["Q4:100%"]):
        greater.append(columnName)

In [30]:
greater   #lesser

[]

FREQUENCY

In [31]:
#finding frequency,relative freq and cumsum within functions
def freqTable(colunName,dataset):
    freqTable=pd.DataFrame(columns=["Unique_Values","Frequency","Relative Frequency","Cusum"])
    freqTable["Unique_Values"]=dataset[columnName].value_counts().index
    freqTable["Frequency"]=dataset[columnName].value_counts().values
    freqTable["Relative Frequency"]=(freqTable["Frequency"]/103)
    freqTable["Cusum"]=freqTable["Relative Frequency"].cumsum()
    return freqTable

In [32]:
freqTable("",dataset)

    Unique_Values  Frequency  Relative Frequency     Cusum
0             0.0         67            0.650485  0.650485
1        300000.0         22            0.213592  0.864078
2        250000.0         18            0.174757  1.038835
3        240000.0         15            0.145631  1.184466
4        260000.0          7            0.067961  1.252427
5        200000.0          6            0.058252  1.310680
6        265000.0          6            0.058252  1.368932
7        360000.0          6            0.058252  1.427184
8        220000.0          5            0.048544  1.475728
9        275000.0          5            0.048544  1.524272
10       400000.0          4            0.038835  1.563107
11       270000.0          4            0.038835  1.601942
12       210000.0          4            0.038835  1.640777
13       216000.0          3            0.029126  1.669903
14       500000.0          3            0.029126  1.699029
15       350000.0          3            0.029126  1.728155
16       230000.0          2            0.019417  1.747573
17       276000.0          2            0.019417  1.766990
18       252000.0          2            0.019417  1.786408
19       236000.0          2            0.019417  1.805825
20       280000.0          2            0.019417  1.825243
21       218000.0          2            0.019417  1.844660
22       204000.0          2            0.019417  1.864078
23       393000.0          1            0.009709  1.873786
24       425000.0          1            0.009709  1.883495
25       231000.0          1            0.009709  1.893204
26       278000.0          1            0.009709  1.902913
27       450000.0          1            0.009709  1.912621
28       411000.0          1            0.009709  1.922330
29       320000.0          1            0.009709  1.932039
30       336000.0          1            0.009709  1.941748
31       268000.0          1            0.009709  1.951456
32       287000.0          1            0.009709  1.961165
33       420000.0          1            0.009709  1.970874
34       380000.0          1            0.009709  1.980583
35       706250.0          1            0.009709  1.990291
36       225000.0          1            0.009709  2.000000
37       233000.0          1            0.009709  2.009709
38       690000.0          1            0.009709  2.019417
39       340000.0          1            0.009709  2.029126
40       255000.0          1            0.009709  2.038835
41       285000.0          1            0.009709  2.048544
42       290000.0          1            0.009709  2.058252
43       650000.0          1            0.009709  2.067961
44       264000.0          1            0.009709  2.077670
45       295000.0          1            0.009709  2.087379

SKEWNESS,KURTOSIS

In [33]:
#function created for overall stats , covering skew and kurtosis calculation
def Univariate(dataset,quan):
    descriptive=pd.DataFrame(index=["Mean","Median","Mode","Q1:25%","Q2:50%",
                                "Q3:75%","99%","Q4:100%","IQR","1.5rule","Lesser","Greater","Min","Max","skew","kurtosis"],columns=quan)
    for columnName in quan:
        descriptive.loc["Mean", columnName] = dataset[columnName].mean()
        descriptive.loc["Median", columnName] = dataset[columnName].median()
        descriptive.loc["Mode", columnName] = dataset[columnName].mode()[0]
        descriptive.loc["Q1:25%", columnName] = dataset.describe()[columnName]["25%"]
        descriptive.loc["Q2:50%", columnName] = dataset.describe()[columnName]["50%"]
        descriptive.loc["Q3:75%", columnName] = dataset.describe()[columnName]["75%"]
        descriptive.loc["99%", columnName] = nm.percentile(dataset[columnName],99)
        descriptive.loc["Q4:100%", columnName] = dataset.describe()[columnName]["max"]
        descriptive.loc["IQR", columnName] = descriptive[columnName]["Q3:75%"]-descriptive[columnName]["Q1:25%"]
        descriptive.loc["1.5rule", columnName] = 1.5*descriptive[columnName]["IQR"]
        descriptive.loc["Lesser", columnName] = descriptive[columnName]["Q1:25%"]-descriptive[columnName]["1.5rule"]
        descriptive.loc["Greater", columnName] =descriptive[columnName]["Q3:75%"]+descriptive[columnName]["1.5rule"]
        descriptive.loc["Min", columnName] = dataset[columnName].min()
        descriptive.loc["Max", columnName] = dataset[columnName].max()
        descriptive.loc["skew", columnName] = dataset[columnName].skew()
        descriptive.loc["kurtosis", columnName] = dataset[columnName].kurtosis()
    return descriptive

In [34]:
Univariate(dataset,quan)

,sl_no,ssc_p,hsc_p,degree_p,etest_p,mba_p,salary
Mean,108.0,67.303395,66.334744,66.358558,72.100558,62.278186,197615.116279
Median,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Mode,1,62.0,63.0,65.0,60.0,56.7,0.0
Q1:25%,54.5,60.6,60.9,61.0,60.0,57.945,0.0
Q2:50%,108.0,67.0,65.0,66.0,71.0,62.0,240000.0
Q3:75%,161.5,75.7,73.0,72.0,83.5,66.255,282500.0
99%,212.86,87.0,91.129,83.86,97.0,76.1142,629000.0
Q4:100%,215.0,89.4,91.15,88.5,98.0,77.89,706250.0
IQR,107.0,15.1,12.1,11.0,23.5,8.31,282500.0
1.5rule,160.5,22.65,18.15,16.5,35.25,12.465,423750.0
Lesser,-106.0,37.95,42.75,44.5,24.75,45.48,-423750.0
Greater,322.0,98.35,91.15,88.5,118.75,78.72,706250.0
Min,1,40.89,42.75,50.0,50.0,51.21,0.0
Max,215,89.4,91.15,88.5,98.0,77.89,706250.0
skew,0.0,-0.132649,0.162611,0.204164,0.282308,0.313576,0.125415
kurtosis,-1.2,-0.60751,0.086901,-0.09749,-1.08858,-0.470723,0.025787